@charset "utf-8";
/* imported fonts */
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Cinzel');



body {
    margin: 0;
    font-family: 'Arvo', serif;
    height: 100%;
}

article {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Horizontal Nav */

/* Horizontal Nav with imported fonts. All links placed on the left. Position is fixed to stay with the user As they scroll through the document. Transitions are used to have changes fade in when the user hovers over the links.  */
nav {
    position: absolute;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    box-shadow: 0px 2px 0px 0px;

}

nav ul li {
    float: left;

}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.4s;
}

nav ul li a:hover:not(.active) {
    padding: 14px 16px;
    background-color: rgb(255, 141, 35);
    color: white;

}




/* General styles for each section */


section h1 {
    display: block;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    box-shadow: 0px 2px 0px 0px;
    transition: 0.4s;
}


/* overView section styles */
section#overView {
    display: block;
    font-size: 25px;
    padding: 20px 100px;
    line-height: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* About section Styles */

section#about {
    background-color: black;
    padding: 2px;
}

section#about h1 {
    display: block;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    box-shadow: 0px 2px 0px 0px;
    transition: 0.4s;
    color: #ED8F03;
}

section#about p.path {
    display: block;
    border: 2px solid white;
    width: 40%;
    padding: 20px;
    margin-left: 8%;
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 20px;
    color: whitesmoke;
}

section#about h3.firstH {
    display: block;
    width: 12%;
    margin-bottom: 20px;
    margin-left: 10%;
    font-size: 25px;
    color: #ED8F03;
    box-shadow: 0px 0px 0px 0px;
    transition: 0.3s;
}

section#about h3.firstH:hover:not(.active) {
    box-shadow: 0px 2px 0px 0px #ED8F03;
}

section#about img#fcc {
    width: 15%;
    height: 15%;
    float: right;
    margin-right: 20%;
    border-radius: 20px;
}

/* Second half of the "about" portion */
section#about2 {
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 23px;
}

section#about2 h3.secH {
    display: block;
    font-size: 25px;
    margin-left: 62%;
    color: #ED8F03;
    transition: 0.3s;
    width: 13%;
    text-align: center;
}

section#about2 h3.secH:hover:not(.active) {
    box-shadow: 0px 2px 0px 0px #ED8F03;
}

section#about2 p {
    display: block;
    margin-left: 50%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid rgb(54, 54, 54);
    width: 40%;
}

section#about2 img {
    width: 34%;
    height: 34%;
    float: left;
    clear: left;
    margin-left: 8%;
    margin-bottom: 2%;
    border: 2px solid rgb(255, 134, 35);
    /* border-radius: 12px; */
}

/* Contact Form */
section#contact {
    background-color: black;
    display: block;
    width: 100%;
    height: 100%;
}

/* form {
    width: 40%;
    margin: 2% 0% 0% 6%;
    background-color: rgb(58, 57, 57);
    border-radius: 20px;
    color: #FFB75E;
    height: 100%;
    float: left;
}

form h3 {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #ED8F03;
    box-shadow: #ED8F03 0pc 2px 0px 0px;
}

form label {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
}

form input {
    display: block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 3px;
}

form textarea {
    display: block;
    width: 70%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 10px;
} */

/* second contact section */

article#qright {
    width: 40%;
    margin: 2% 6% 0% 0%;
    background-color: rgb(58, 57, 57);
    border-radius: 20px;
    color: #FFB75E;
    height: 100%;
    float: right;
}

section#contact h3 {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #ED8F03;
    box-shadow: #ED8F03 0pc 2px 0px 0px;
}

section#contact p {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}

/* maps */

iframe#gmap_canvas {
    display: block;
    overflow: hidden;
    background: none !important;
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}



/* Image number 1 */

section#steps {
    display: block;
    clear: both;
}

img {
    background: no-repeat;
    width: 100%;
    height: auto;
}

section div.container {
    position: relative;
    width: 28%;
    float: left;
    padding: 12px;
    margin: 10px;

}

section div img.image {
    display: block;
    width: 100%;
    height: auto;
}

section div div.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(#FFB75E, #ED8F03);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s;
}

section div.container:hover .overlay {
    bottom: 0;
    height: 100%;
}

section div div div.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

div.text a {
    color: black;
    font-weight: bolder;
    font-size: 30px;
    padding: 2px;
}

div.text a:hover:not(.active) {
    color: rgb(206, 44, 44);
}



/* image number 2 */
.apply {
    position: relative;
    width: 28%;
    float: left;
    padding: 12px;
    margin: 10px;
}

.aimage {
    display: block;
    width: 100%;
    height: auto;
}

.olay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(#FFB75E, #ED8F03);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.apply:hover .olay {
    bottom: 0;
    height: 100%;
}

.atext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Image number 3 */
.reg {
    position: relative;
    width: 28%;
    float: left;
    padding: 12px;
    margin: 10px;
}

.rimage {
    display: block;
    width: 100%;
    height: auto;
}

.over {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background: linear-gradient(#FFB75E, #ED8F03);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.reg:hover .over {
    bottom: 0;
    height: 100%;
}

.rtext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Skills USA Portion */

section#ctso {
    background-color: black;
    clear: both;
}

section#ctso h1 {
    display: block;
    width: 20%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    box-shadow: 0px 2px 0px 0px;
    transition: 0.4s;
    color: #ED8F03;
}

section#ctso img {
    width: 40%;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px; */
    border-radius: 5px;
    border: rgb(255, 255, 255) solid 2px;
}

section article#skillsUSA {
    display: inline;
    float: left;
    width: 50%;
    border: solid rgb(255, 255, 255) 2px;
    background-size: 100px;
    font-size: 20px;
    margin: 20px;
    padding: 25px;
    color: white;
}

/* slideshow */

section#show {
    display: block;
    height: 100%;
}

div.slideshow {
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto;

}

.slides {
    display: none;

}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


/* The programs at cetral campus  */
section#central {
    background: rgb(255, 255, 255);
    display: block;
    margin-top: 100px;
    margin-bottom: 100px;

}

iframe#video {
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline;
    width: 45%;
    margin-left: 3%;
}

div#right {
    color: rgb(0, 0, 0);
    display: inline;
    float: right;
    width: 45%;
    border: 2px solid black;
    margin-right: 3%;
    padding-bottom: 20px;
    margin-top: 20px;
    height: 380px;
}

div#right p#r1 {
    font-size: 20px;
    line-height: 25px;
    padding: 30px;

}

div#right h1 {
    color: #ED8F03;
}

article#skillsUSA h1 {
    color: #ED8F03;
}